<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- PouchDB -->
    <script src="lib/pouchdb/dist/pouchdb.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

<!-- Debut BODY -->

  <body ng-app="starter" ng-controller="elevagesCtrl">

    <ion-pane>

      <!-- Header -->
      <ion-header-bar class="bar-stable">
        <button class="button button-icon" ng-click="toggleSync()">
          <i class="icon" ng-class="{'ion-connection-bars' : online, 'ion-alert-circled' : !online}"></i>
        </button>
        <h1 class="title">Sample Pouchdb Synchro</h1>
      </ion-header-bar>

      <!-- Content -->
      <ion-content ng-model="elevages" ng-model-instant>
        <ion-list>
          <ion-item ng-repeat="elevage in elevages" ng-click="showElevage(elevage)" ng-class="{local: elevage.local, notlocal:!elevage.local}" ng-model-instant>
            {{elevage.name}}
          </ion-item>
        </ion-list>
        <div class="button-bar">
        <button class="button button-light" ng-click="log()"> LOGS </button>
        </div>
      </ion-content>

    </ion-pane>

    <-- Template detail -->

    <script id="show-elevage.html" type="text/ng-template">

    <div class="modal">

      <!-- Modal header bar -->
      <ion-header-bar class="bar-secondary">
        <h1 class="title">{{elevage.name}}</h1>
        <button class="button button-clear button-positive" ng-click="cancelElevage()">Cancel</button>
      </ion-header-bar>

      <!-- Modal content area -->
      <ion-content>

        <form ng-submit="hideElevage()">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="nom de l'élevage..." ng-model="elevage.name">
            </label>
          </div>
          <ion-list>
            <ion-item ng-repeat="animaux in animauxByElevage[elevage.id]" ng-model-instant>
              RACE : {{animaux.race}} NOM : {{animaux.name}}
            </ion-item>
          </ion-list>
          <div class="padding">
            <button type="submit" class="button button-block button-positive">Retour</button>
          </div>
        </form>

      </ion-content>

    </div>

    </script>

    <-- Fin du template detail -->
  
  </body>

<!-- That's all fox ... -->

</html>
